SetEnvIf X-Forwarded-For "82.30.52.61" AllowIP
SetEnvIf X-Forwarded-For "2.3.4.5" AllowIP

  <RequireAny>
    Require env AllowIP
    Require ip 82.30.52.61 2.3.4.5
  </RequireAny>

ErrorDocument 403 "Access denied from this IP"