/* Define the "system" font family */
@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local("HelveticaNeue");
}

body {
	font-family: "Playfair Display", sans-serif;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: #fff;
	color: #000;

	-webkit-transition: all 1s ease-out; /* Saf3.2+, Chrome */
	-moz-transition: all 1s ease-out; /* FF4+ */
	-ms-transition: all 1s ease-out; /* IE10 */
	-o-transition: all 1s ease-out; /* Opera 10.5+ */
	transition: all 1s ease-out;
}

#calendar {
	overflow: hidden;
}

#countdown {
	left: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
	width: 30px;
	height: 30px;
}

/* Calendar Selector Button */
#calendar-selector-btn {
	background: transparent;
	border: none;
	font-size: 1.5em;
	cursor: pointer;
	padding: 0.5em;
	margin-left: 0.5em;
	opacity: 0.8;
	transition: opacity 0.3s ease;
}

#calendar-selector-btn:hover {
	opacity: 1;
}

/* Modal Styles */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.modal.show {
	opacity: 1;
}

.modal-content {
	background: white;
	border-radius: 10px;
	padding: 0;
	max-width: 500px;
	width: 90%;
	max-height: 80vh;
	overflow: hidden;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
	transform: scale(0.9);
	transition: transform 0.3s ease;
}

.modal.show .modal-content {
	transform: scale(1);
}

.modal-header {
	padding: 1.5em;
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	color: white;
}

.modal-header h2 {
	margin: 0;
	font-size: 1.5em;
	font-weight: 600;
}

.modal-close {
	background: transparent;
	border: none;
	font-size: 2em;
	color: white;
	cursor: pointer;
	padding: 0;
	line-height: 0.8;
	opacity: 0.8;
	transition: opacity 0.3s ease;
}

.modal-close:hover {
	opacity: 1;
}

.modal-body {
	padding: 1.5em;
	max-height: calc(80vh - 100px);
	overflow-y: auto;
}

.calendar-set-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.calendar-set-item {
	margin-bottom: 0.5em;
}

.calendar-set-link {
	display: flex;
	align-items: center;
	padding: 1em;
	border-radius: 8px;
	text-decoration: none;
	color: #333;
	background: #f5f5f5;
	transition: all 0.3s ease;
}

.calendar-set-link:hover {
	background: #e0e0e0;
	transform: translateX(5px);
}

.calendar-set-item.active .calendar-set-link {
	background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	color: white;
	font-weight: 600;
}

.calendar-set-emoji {
	font-size: 1.5em;
	margin-right: 0.5em;
}

.calendar-set-name {
	flex: 1;
	font-size: 1.1em;
}

.calendar-set-active-indicator {
	font-size: 1.2em;
	color: #4ade80;
}

/* Night theme adjustments */
body.nighttime .modal-content {
	background: #1a1a2e;
	color: #eee;
}

body.nighttime .modal-header {
	border-bottom-color: #333;
}

body.nighttime .calendar-set-link {
	color: #eee;
	background: #16213e;
}

body.nighttime .calendar-set-link:hover {
	background: #0f3460;
}

body.nighttime .calendar-set-item.active .calendar-set-link {
	color: white;
}

.forecastbox {
	display: inline-block;
	vertical-align: top;
	width: 320px;
}

#calendarkey {
	display: inline-block;
	vertical-align: top;
}

#calendarkey ul {
	list-style: none;
	padding-left: 0;
}

#calendarkey ul li {
	height: 1.5em;
	text-align: right;
	padding-right: 0.2em;
}

.fc-toolbar {
	display: none;
}

#rightbar {
	float: right;
	width: 300px;
	text-align: right;
	position: relative;
	overflow: hidden;
}

body.token img {
	vertical-align: middle;
	border: 2px solid;
	border-color: #d2d2d2 #353535 #353535 #d2d2d2;
	margin-right: 0.5em;
	background-color: #c5c5c5;
}

#rightbar img {
	float: right;
}
#rightbar h2 {
	width: 300px;
	text-align: left;
	font-size: 10pt;
}

.fc-event {
	font-size: 10pt;
}

.marker {
	background-image: url("mapbox-icon.png");
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

body.nighttime {
	background-color: #000;
	color: #aaa;
}

body.nighttime .fc-today {
	background-color: #333;
	color: #000;
}

body {
	margin: 0;
}

.marker {
	background-image: url("mapbox-icon.png");
	background-size: cover;
	width: 27px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid black;
	cursor: pointer;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
}

#photo {
	background-attachment: local;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.fyr_marker {
	background-image: url("https://art.istic.net/iconography/maps/fyr_icon.png");
}

.aq_marker {
	background-image: url("https://art.istic.net/iconography/maps/aq_icon.png");
}

#datetime {
	/* display: block;
	width: 100%; */
	font-size: 32pt;
	text-align: center;
}

#datetime .dt_time {
	font-family: "Sometype Mono", monospace;
	font-size: 72pt;
}

#datetime sup {
	font-size: 22pt;
}

#nextUp sup {
	font-size: 12pt;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 600px 70px 100px 1fr;
	gap: 0px 0px;
	border: 5px solid red;
	height: 100%;
}

.grid-object {
	border: 1px solid green;
}

#calendar {
	grid-area: 1 / 1 / 3 / 2;
}
#datetime {
	grid-area: 2 / 1 / 4 / 2;
}
#weather {
	grid-area: 3 / 1 / 4 / 2;
}
#map,
#photo {
	grid-area: 4 / 1 / 5 / 2;
}

html,
body {
	height: 100%;

	display: flex;
	flex-direction: column;
}

body > * {
	flex-shrink: 0;
}

#map,
#photo {
	flex-grow: 1;
}

#nextUp {
	width: 100%;
	height: 275px;
	display: inline-block;
	font-size: 22pt;
}

#nextup span.event_dt {
	font-family: "Sometype Mono", monospace;
}

#nextUp dl {
	margin: 0;
}

#nextUp dd,
#nextUp dt {
	width: fit-content;
	padding-left: 3em;
	text-indent: -3em;
}

#nextup dd {
	padding: 0 4pt;
}

/* Striped background on title only */
#nextUp .event_title.txtcal-aquarion-fyr,
#nextUp .event_title.txtcal-fyr-aquarion {
	background: repeating-linear-gradient(
		45deg,
		rgba(80, 110, 173, 0.5),
		rgba(80, 110, 173, 0.5) 3px,
		rgba(163, 41, 41, 0.5) 3px,
		rgba(163, 41, 41, 0.5) 6px
	);
}

#nextUp ul {
	margin: 0;
	padding-left: 0;
}

#nextUp .day-events span {
	display: inline-block;
}

#nextUp .day-events span {
	text-indent: 0;
}

#nextUp .until {
	font-size: small;
	color: #444;
}

#switch {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 24pt;
	z-index: 100;
}


.devmode-ribbon {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	z-index: 99999;
	background: transparent;
}
.devmode-ribbon a {
	display: inline-block;
	width: 200px;
	overflow: hidden;
	padding: 6px 0px;
	text-align: center;
	transform: rotate(45deg);
	text-decoration: none;
	color: rgb(255, 255, 255);
	position: inherit;
	top: 45px;
	right: -40px;
	border-width: 1px 0px;
	border-style: dotted;
	border-color: rgba(255, 255, 255, 0.7);
	font:
		700 13px "Helvetica Neue",
		Helvetica,
		Arial,
		sans-serif;
}

body.token {
	margin: 1em;
}

body.token h1 {
	font-size: 72pt;
}

body.token pre {
	border: 2px solid black;
	padding: 0.5em;
	line-height: 50px;
	height: 50px;
}

body.token img {
	vertical-align: middle;
	border: 2px solid;
	border-color: #d2d2d2 #353535 #353535 #d2d2d2;
	margin-right: 0.5em;
	background-color: #c5c5c5;
}
