/* Define the "system" font family */
@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local("HelveticaNeue");
}

body {
	font-family: "Playfair Display", sans-serif;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background: #fff;
	color: #000;

	-webkit-transition: all 1s ease-out; /* Saf3.2+, Chrome */
	-moz-transition: all 1s ease-out; /* FF4+ */
	-ms-transition: all 1s ease-out; /* IE10 */
	-o-transition: all 1s ease-out; /* Opera 10.5+ */
	transition: all 1s ease-out;
}

#calendar {
	overflow: hidden;
}

#countdown {
	left: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
	width: 30px;
	height: 30px;
}

.forecastbox {
	display: inline-block;
	vertical-align: top;
	width: 320px;
}

#calendarkey {
	display: inline-block;
	vertical-align: top;
}

#calendarkey ul {
	list-style: none;
	padding-left: 0;
}

#calendarkey ul li {
	height: 1.5em;
	text-align: right;
	padding-right: 0.2em;
}

.fc-toolbar {
	display: none;
}

#rightbar {
	float: right;
	width: 300px;
	text-align: right;
	position: relative;
	overflow: hidden;
}

#rightbar img {
	/*max-width: 100%;*/
	float: right;
}
#rightbar h2 {
	width: 300px;
	text-align: left;
	font-size: 10pt;
}

.fc-event {
	font-size: 10pt !important;
}

.marker {
	background-image: url("mapbox-icon.png");
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

body.nighttime {
	background: #000;
	color: #aaa;
}

body.nighttime .fc-today {
	background-color: #333 !important;
	color: #000;
}

body {
	margin: 0;
}

.marker {
	background-image: url("mapbox-icon.png");
	background-size: cover;
	width: 27px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid black;
	cursor: pointer;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
}

#photo {
	background-attachment: local;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.fyr_marker {
	background-image: url("https://art.istic.net/iconography/maps/fyr_icon.png");
}

.aq_marker {
	background-image: url("https://art.istic.net/iconography/maps/aq_icon.png");
}

#datetime {
	/* display: block;
	width: 100%; */
	font-size: 32pt;
	text-align: center;
}

#datetime .dt_time {
	font-family: "Sometype Mono", monospace;
	font-size: 72pt;
}

#datetime sup {
	font-size: 22pt;
}

#nextUp sup {
	font-size: 12pt;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 600px 70px 100px 1fr;
	gap: 0px 0px;
	border: 5px solid red;
	height: 100%;
}

.grid-object {
	border: 1px solid green;
}

#calendar {
	grid-area: 1 / 1 / 3 / 2;
}
#datetime {
	grid-area: 2 / 1 / 4 / 2;
}
#weather {
	grid-area: 3 / 1 / 4 / 2;
}
#map,
#photo {
	grid-area: 4 / 1 / 5 / 2;
}

html,
body {
	height: 100%;

	display: flex;
	flex-direction: column;
}

body > * {
	flex-shrink: 0;
}

#map,
#photo {
	flex-grow: 1;
}

#nextUp {
	width: 100%;
	height: 275px;
	display: inline-block;
	font-size: 22pt;
}

#nextup span.event_dt {
	font-family: "Sometype Mono", monospace;
}

#nextUp dl {
	margin: 0;
}

#nextUp dd,
#nextUp dt {
	/* overflow: hidden;
	white-space: nowrap; */
	width: fit-content;
	padding-left: 3em;
	text-indent: -3em;
}

#nextup dd {
	padding: 0 4pt;
}

#nextUp ul {
	margin: 0;
	padding-left: 0;
}

#nextUp .day-events span {
	display: inline-block;
}

#nextUp .day-events span {
	text-indent: 0;
}

#nextUp .txtcal-stripy .until {
	color: rgb(191, 191, 191);
}

#switch {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 24pt;
	z-index: 100;
}

.until {
	font-size: small;
	color: #444;
}

.devmode-ribbon {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	z-index: 99999;
}
.devmode-ribbon a {
	display: inline-block;
	width: 200px;
	overflow: hidden;
	padding: 6px 0px;
	text-align: center;
	transform: rotate(45deg);
	text-decoration: none;
	color: rgb(255, 255, 255);
	position: inherit;
	top: 45px;
	right: -40px;
	border-width: 1px 0px;
	border-style: dotted;
	border-color: rgba(255, 255, 255, 0.7);
	font:
		700 13px "Helvetica Neue",
		Helvetica,
		Arial,
		sans-serif;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px 0px;
	background-color: rgb(17, 0, 170);
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}

body.token {
	margin: 1em;
}

body.token h1 {
	font-size: 72pt;
}

body.token pre {
	border: 2px solid black;
	padding: 0.5em;
	line-height: 50px;
	height: 50px;
}

body.token img {
	vertical-align: middle;
	border: 2px solid;
	border-color: #d2d2d2 #353535 #353535 #d2d2d2;
	margin-right: 0.5em;
	background-color: #c5c5c5;
}
