body {
	font-family: 'Oxygen', sans-serif;
    background-repeat: no-repeat; 
    background-size: cover;
	background-attachment: fixed; 
	background-position:  center;
}

#calendar {
}

#countdown {
    top: 44px;
    left: -4;
    position: absolute;
    z-index: 1;
}

.forecastbox {
	display: inline-block; 
	vertical-align: top;
	width: 320px;
}

#calendarkey {
	display: inline-block; 
	vertical-align: top;
}

#calendarkey ul {
	list-style: none;
	padding-left: 0;
}

#calendarkey ul li{
	height: 1.5em;
	text-align: right;
	padding-right: .2em;
}

#time {
	font-size: 72pt;
	text-align: center;
}

#date {
	font-size: 15pt;
	text-align: center;
}

#datetime {
	display: inline-block; 
	vertical-align: top;
}

#bottom {
	width: 1920px;
	height: 245px;
	position: relative;
	background: rgba(255,255,255,.5);
}

#rightbar {
	float: right; width: 300px;
	text-align: right;
	position: relative;
	overflow: hidden;
}

#rightbar img {
	/*max-width: 100%;*/
	float: right;
}
#rightbar h2 {
	 width: 300px;
	 text-align: left;
	 font-size: 10pt;
}


.fc-event {
	font-size: 10pt !important;
}


.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
