
/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local("HelveticaNeue")
}


body {
	font-family: "Oxygen", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	background-position:  center;
	background: #FFF;
	color: #000;
}

#calendar {
}

#countdown {
    top: 44px;
    left: -4;
    position: absolute;
    z-index: 1;
}

.forecastbox {
	display: inline-block;
	vertical-align: top;
	width: 320px;
}

#calendarkey {
	display: inline-block;
	vertical-align: top;
}

#calendarkey ul {
	list-style: none;
	padding-left: 0;
}

#calendarkey ul li{
	height: 1.5em;
	text-align: right;
	padding-right: .2em;
}


.fc-toolbar {
	display: none;
}

#datetime {
	display: block;
	width: 100%;
	font-size: 42pt;
	text-align: center;
}

#datetime sup {
	font-size: 22pt;
}

#bottom {
}

#rightbar {
	float: right; width: 300px;
	text-align: right;
	position: relative;
	overflow: hidden;
}

#rightbar img {
	/*max-width: 100%;*/
	float: right;
}
#rightbar h2 {
	 width: 300px;
	 text-align: left;
	 font-size: 10pt;
}


.fc-event {
	font-size: 10pt !important;
}


.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}



body#nighttime {
	background: #000;
	color: #AAA;
}


body#nighttime .fc-today {
	background-color: #333 !important;
}